/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
img{
    pointer-events: none !important;
}
html,body{
    scroll-behavior: smooth;
}
body{
    background-color: #E4EFEE !important;
}
.navbar-expand-lg{
    justify-content: space-around !important;
}

.navbtn{
    border: 1.5px solid #1bacf4 !important;
    background-color: black !important;
    color: white !important;
    text-transform: capitalize !important;
    border-radius: 9px !important;
}
.navbtn-alt{
    color: #1bacf4 !important;
    background-color: white !important;
    border: 1.5px solid #1bacf4 !important;
    text-transform: capitalize !important;
    border-radius: 9px !important;
}
.navlog{
    background-image: linear-gradient(to right, rgba(27,172,244,0.85) 35%, rgba(25,238,181,0.75) 100%);
    text-transform: capitalize !important;
    border-radius: 9px !important;
    font-size: 0.8rem;
    color: white!important;
}
.btn-primary{
    background-color: #1AACF6!important;
    font-weight: 400;
    font-size: 12px !important;
    text-align: left;
    border-radius: 7px !important;
}
.navsearch{
    position: relative;
    
}
.navsearch>img{
    position: absolute;
    top: 12px;
    right: -13.5%;
    cursor: pointer !important;
    z-index: 100;
}
.navsearch>img:hover{
    cursor: pointer !important;
}

.foli{
    font-size: 1.2rem;
}

.navsearch input{
    border: 1.5px solid #1bacf4 !important;
    background-color: white;
    font-weight: 500;
    color: black !important;
    text-overflow: ellipsis;
    border-radius: 5px;
    padding: 2% 5% 2% 5%;
    font-size: 20px;
    text-align: left;
    opacity: 0.9294117647058824;
}
.navsearch input::placeholder{
    color: #333;
    font-weight: 500;
    font-size: 0.95rem;
}

.navsearch button{
    border-top: 1.5px solid #1bacf4 !important;
    border-bottom: 1.5px solid #1bacf4 !important;
    border-right: 1.5px solid #1bacf4 !important;
    border-left: none;
    background-color: white;
    color: #333;
    font-weight: 100;
    margin-left:-6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fa-gradient{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(27,172,244)), to(rgb(25,238,181)));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark{
    background-color: black !important;
    color: white!important;
}

.rounded-image{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.rounded-image-full{
    border-radius: 15px !important;
}
.rounded-slide{
    border-radius: 15px !important;
}

.rounded-card{
    border-radius: 15px !important;
    margin-bottom: 5%;
}
.card-header{
    background-color: transparent !important;
    border-bottom: none !important;
    padding: 0px !important;
}
.card-footer{
    border-top: none !important;
    background-color:transparent !important;
    padding: 0px !important;
}

.card-body{
    padding: 0.9rem !important;
}

/* FLICKITY CSS */
.cmer .gallery-cell {
    background: transparent;
  }

  /* cell number */
.cmer .gallery-cell:before {      
    content: "";
}
.cmer .flickity-button {
background: #333;
}
.cmer .flickity-button:hover {
background: #1facb4;
}

.cmer .flickity-prev-next-button {
width: 30px;
height: 30px;
border-radius: 5px;
}
/* icon color */
.cmer .flickity-button-icon {
fill: #333;
}

/* smaller, dark, rounded square */
.cmer .flickity-prev-next-button {
width: 30px;
height: 30px;
border-radius: 50%;
background: white;
position:inherit;
}
.cmer .flickity-prev-next-button:hover {
background: #1facb4;
}
/* arrow color */
.cmer .flickity-prev-next-button .arrow {
fill: #333;
}
.cmer .flickity-prev-next-button.no-svg {
color: #333;
}
/* position outside */
.cmer .flickity-prev-next-button.previous {
top: 3rem;
left: 85%;
}
.cmer .flickity-prev-next-button.next {
top: 3rem;
left: 88%;
}
.cmer .flickity-page-dots {
bottom: -22px;
}
/* dots are lines */
.cmer .flickity-page-dots .dot {
height: 4px;
width: 15px;
margin-left: 2.5px;
margin-right: 2.5px;
margin-top:0px;
border-radius: 0;
background-color: white !important;
}












.major .carousel {
    background: #FAFAFA;
    margin: 0 60px; /* space for prev/next buttons */
  }
  
  .major .carousel-cell {
    width: 100%;
    height: 525px;
    margin-right: 10px;
    background: transparent;
    border-radius: 5px;
  }
  
  
  
  /* smaller, dark, rounded square */
  .major .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #E4EFEE;
  }
  .major .flickity-prev-next-button:hover {
    background: #1AACF6;
  }
  /* arrow color */
  .major .flickity-prev-next-button .arrow {
    fill: #707070;
  }
  .major .flickity-prev-next-button.no-svg {
    fill: #707070;
  }
  /* position outside */
  .major .flickity-prev-next-button.previous {
    left: -40px;
  }
  .major .flickity-prev-next-button.next {
    right: -40px;
  }
  .major .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 75px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  .major .flickity-page-dots .dot {
    height: 15px;
    width: 15px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-top:0px;
    border-radius: 50%;
    background-color: white !important;
    }
    



.wh .gallery-cell {
    background: transparent;
  }

  /* cell number */
.wh .gallery-cell:before {      
    content: "";
}
.wh .flickity-button {
background: #333;
}
.wh .flickity-button:hover {
background: #1facb4;
}

.wh .flickity-prev-next-button {
width: 30px;
height: 30px;
border-radius: 5px;
}
/* icon color */
.wh .flickity-button-icon {
fill: #333;
}

/* smaller, dark, rounded square */
.wh .flickity-prev-next-button {
width: 30px;
height: 30px;
border-radius: 50%;
background: white;
position:inherit;
}
.wh .flickity-prev-next-button:hover {
background: #1facb4;
}
/* arrow color */
.wh .flickity-prev-next-button .arrow {
fill: #333;
}
.wh .flickity-prev-next-button.no-svg {
color: #333;
}
/* position outside */
.wh .flickity-prev-next-button.previous {
top: 3rem;
left: 85%;
}
.wh .flickity-prev-next-button.next {
top: 3rem;
left: 88%;
}

.wh .flickity-page-dots {
    display: none !important;
    }
.wh .flickity-page-dots .dot {
    display: none !important;
    }
.dtop .secondary{
    font-weight: 700;
    color:#042E3B;
    font-size: 1.8rem;
}

.customersection .secondary{
    font-weight: 700;
    color:#042E3B;
    font-size: 1.8rem;
}


.mtop .secondary{
    font-weight: 700;
    color:#042E3B;
    font-size: 1.3rem;
}

.dtop .sectwo{
    font-weight: bold;
    color: #707070;
    font-size: 1.1rem;
}
.mtop .sectwo{
    font-weight: bold;
    color: #707070;
    font-size: 0.9rem;
}
.dtop .secthree{
    font-size: 0.95rem;
    color: #707070;
    font-weight: 500;
}
.mtop .secthree{
    color: #707070;
    font-weight: 500;
    font-size: 90% !important;
    line-height: 1.2 !important;
}
.mtop .op h5{
    font-size: 1.1rem !important;
}
.mtop .op p{
    font-size: 80% !important;
}
.secthree-comment{
    font-size: 80%;
    color: #707070;
}

.footer-rent{
    font-family: 'Roboto' sans-serif !important;
}
.footer-rent a{
    color: white;
    text-decoration: none;
    height: 25px !important;
    font-weight: 500;
}

.footer-rent .contact i{
    color: black !important;
    background-color: white !important;
}

.footer-rent .follow i{
    color: white !important;
    font-size: 1.2rem;
}

.footer-rent p{
    color: lightgray !important;
    font-weight: 200;
}

.footer-rent .sub a{
    color: lightgray !important;
    font-weight: 200 !important;
    line-height: 3rem;
}

.sub{
    margin-top: 5%;
    margin-bottom: 5%;
}

.mtop .footer-rent p{
    font-size: 0.8rem;
}

.wborder{
    border-right: 1px solid white;
    border-image: linear-gradient(to bottom, white 25%, rgba(0,0,0,0) 25%);
    border-image-slice: 1;
}
.spacer{
    margin-top: 25%;
}

.customer .rounded-card{
    max-height: 244px;
    min-height: 244px;
    overflow: auto;
}


/* CUSTOM RESPONSIVNESS */
@media(max-width: 770px){
    .dtop{
        display: none;
    }
    .mtop{
        display: block;
    }
}
@media(max-width: 982px){
    .dtop{
        display: none;
    }
    .mtop{
        display: block;
    }
}
@media(min-width: 996px){
    .dtop{
        display: block;
    }
    .mtop{
        display: none;
        
    }
}
@media(min-width: 996px){
    .dtop{
        display: block;
    }
    .mtop{
        display: none;
        
    }
}
.mtop .navbtn{
    border: 1.5px solid #1bacf4 !important;
    background-color: black !important;
    color: white !important;
    text-transform: capitalize !important;
    border-radius: 9px !important;
    font-size: 0.7em;
}
@media(min-width: 764px) and (max-width: 984px){
    .c-star i{
        font-size: 100% !important;
    }
}

.mtt{
    margin-top:2.5%;
}

.mtt h5{
    line-height: 1.5;
    color: black;
}

.mtt p{
    font-size: 0.8rem;
    font-weight: 600;
}
.kmb{
    font-family: 'Roboto' sans-serif !important;
    font-weight: 700!important;
    margin-bottom: 2.5% !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    padding: 1% 3% 1% 3% !important;
    color: #0e6084 !important;
}
.dtop .cround{
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 0.6%;
    padding-right: 0.6%;
}

.dtop .cround h5{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

.dtop .cround p{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    color: #2B2B2B !important;
}


.mtop .cround{
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

.mtop .cround h5{
    font-family: 'Roboto', sans-serif !important;
    font-size: 70%!important;
    font-weight: 700 !important;
}

.mtop .cround p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 69% !important;
    font-weight: 500 !important;
    color: #2B2B2B !important;
}

.mtop .kmb{
    font-size: 60% !important;
}

.faint{
    background-color: rgb(242,247,247); 
    border-radius: 15px;
}

.faint small{
    font-size: 0.8em;
    font-weight: 700;
}


.followIcons{
    font-size: 1.2rem;
}

.footer-rent hr{
    background-color: gray;
    width: 90%;
    margin:0 auto;
}

.customnav{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5%;
}

.customnav svg path{
    fill:white;
    stroke-width: 100;
}

.op p{
    color: rgba(128,128,128,0.8);
}

.secondary-cname{
    font-size: 1.2rem !important;
}
